@font-face {
    font-family: "ARCADECLASSIC";
    src: url('../fonts/ARCADECLASSIC.ttf') format("truetype");
}

html,
body {
    color: #FFFFFF;
    /*background: #767474;*/
    overflow: hidden;
    margin: 0;
    padding: 0;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
    font-family: 'ARCADECLASSIC', Arial;

    /* Disable selection after double click */
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

body.black-bg {
    background-color: #000 !important;
}

a {text-decoration: none;}

#content {
    position: absolute;
    z-index: 0;
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
}
#datGui {
    top: 0;
    position: absolute;
    z-index: 100;
}

.hide {
    display: none;
}

.center {
    text-align: center;
}

/* test */
.bottom {
    bottom: 0;
    position: absolute;
}
