
@font-face {
    font-family: "AldotheApache";
    src: url('../fonts/AldotheApache.ttf') format("truetype");
}

html,
body {
    color: #f4fdff;
    overflow: hidden;
    margin: 0;
    padding: 0;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
    font-family: AldotheApache, sans-serif;

    /* Disable selection after double click */
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

a {text-decoration: none;}

#content {
    position: absolute;
    z-index: 0;
}

/*#ui {*/
/*    width: 1024px;*/
/*    height: 640px;*/
/*    position: absolute;*/
/*    z-index: 10000;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*}*/

/*#root {*/
/*    width: 1024px;*/
/*    height: 640px;*/
/*    z-index: 5002;*/
/*    position: absolute;*/
/*}*/

#datGui {
    top: 0;
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    position: absolute;
    z-index: 100;
}


.hide {
    display: none;
}

.center {
    text-align: center;
}

/* test */
.bottom {
    bottom: 0;
    position: absolute;
}
